* {
    box-sizing: border-box;
}
#jumbotron{
    
    text-align: center;
    display: inline-block;

}
.container{
    align-items: center;
    text-align: center;
    display: inline-block;
}
.timeslotContainer {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50px;
    margin-bottom: 100px;
}
.timeslots {
    text-align: center;
    display: inline-block;
}
@media only screen and (max-width: 768px) {
    .container {
        text-align: center;
        left: 50px;
        width: 80px;
      }
      .timeSlots {
        text-align: center;
        width: 50px;
        margin-right: -200px;
      }
      #saveBtn {
        height: 29px;
        width: 29px;
      }
      .hours {
        margin-left: -80px;
        margin-top: 50px;
      }
    }

}